.alert {
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    color: #C09853;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.alert-heading {
    color: inherit;
}
.alert h4 {
	margin: 0;
	padding: 0 !important;
	border: 0;
}
.alert p {
	margin: 0;	
}
tr.element {

	margin: .3em 0px 1em 0px;
	font-size: 110%;
}

tr.element  td.labelcontainer {
	text-align: right;
}

tr.element label { 
	font-weight: bold;
	margin: 2px;
}
tr.element input.inputelement {
	font-size: 115%;
	display: inline;
	margin: 2px;
}
tr.element select {
        width: auto;
}
tr.element p {
	font-size: 90%;
	margin-top: .2em;
	margin: 2px;
}

tr.element input.inputelement[readonly="readonly"] {
	background: #d5d2d2;
}

input[type="submit"] {
	margin-top: 5px;
}

table.users td.label{
	min-width: 380px;
}

table.users td.teacher{
	min-width: 50px;
	text-align: center;
}

label[for=tos],
label[for=sendemail] {
    display: inline;
    vertical-align: middle;
}

div.pages {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.multivalued-attribute .remove {
	padding-left: 5px;
}

div.multivalued-attribute .add-value {
    margin-left: 20px;
}
div.multivalued-attribute .add-value div {
    display: none;
}

div.steps {
	margin-bottom: 20px;
}

div.steps span {
    padding: 10px 12px 10px 25px;
    margin-right: 5px;
    background: #f8f8f8;
    position: relative;
    display: inline-block;
    color:#aaa;
    text-decoration:none;
}
div.steps span:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #f1f1f1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
div.steps span:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #f8f8f8;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
/*.steps span:last-child:after,*/
div.steps span:first-child:before {
    border: none;
}
div.steps span:first-child {
    padding-left:15px;   
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
div.steps span:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
div.steps .current {
    background: #007ACC;
    color: #fff;
}
div.steps .current:after {
    border-left-color: #007ACC;
}

div.steps .passed {
	color: #000;
    background: #fff;
}

div.steps .passed:after {
    border-left-color: #fff;
}

div.gotoinbox {
	margin-top: 10px;
}
