
.error {
	background: #c00;
	margin: 3px 0px 1em 0px;
	padding: 6px;
	border: 1px solid #660000;
	color: #fff;
}
.umesg {
	background: #66FF99;
	margin: 3px;
	padding: 6px;
	border: 1px solid #396;
}

tr.element {

	margin: .3em 0px 1em 0px;
	font-size: 110%;
}

tr.element  td.labelcontainer {
	text-align: right;
}

tr.element label { 
	font-weight: bold;
	margin: 2px;
}
tr.element input.inputelement {
	font-size: 115%;
	display: inline;
	margin: 2px;
}
tr.element p {
	font-size: 90%;
	margin-top: .2em;
	margin: 2px;
}

tr.element input.inputelement[readonly="readonly"] {
	background: #d5d2d2;
}

input[type="submit"] {
	margin-top: 5px;
}
